.intro {
  background-color: rgb(223, 107, 107);
  border-radius: 20px;
  border-color: rgb(130, 120, 120);
  border-style: solid;
  border-width: thick;
  padding: 30px;
}
h1 {
  font-weight: bolder;
  font-family: "Satisfy", cursive;
  font-size: 94px;
}
h5 {
  font-size: medium;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
p {
  font-weight: 300px;
}
